<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demouicontrol">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextViewEx" />
        <activity android:name=".EditTextEx" />
        <activity android:name=".RadioButtonEx" />
        <activity android:name=".ToggleButtonEx" />
        <activity android:name=".RatingBarEx" />
        <activity android:name=".SeekBarEx" />
        <activity android:name=".DatePickerEx" />
        <activity
            android:name=".VideoViewEx"
            android:theme="@style/AppThemeFull" />
        <activity android:name=".ListViewEx" />
        <activity android:name=".RecyclerViewEx" />
        <activity android:name=".ListViewEx2" />
        <activity android:name=".SpinnerEx" />
        <activity android:name=".AutoCompleteTextViewEx" />
        <activity android:name=".GridViewEx"></activity>
    </application>

</manifest>